@charset "utf-8";
/* CSS Document */

/*
=====================================================================
*   Akiko Imamura v1.0 layout CSS
*	style info :  レイアウト設定					*												
*   02-21-2014
=====================================================================
/*--------------------
		INDEX
----------------------
	1.Link
	2.Header
	3.globalNavi
	4.Main
	5.Side
	6.Footer
	
====================================================== */

@font-face {
    font-family: 'futura';
    src: url('../font/oblique/Futura_Oblique.eot');
    src: url('../font/oblique/Futura_Oblique.eot?#iefix') format('embedded-opentype'),
         url('../font/oblique/Futura_Oblique.woff') format('woff'),
         url('../font/oblique/Futura Oblique.ttf') format('truetype'),
         url('../font/oblique/Futura_Oblique.svg#fontset') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*body{font-family:'futura','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;}*/

p{
	font-size: 14px;
	font-weight: 500;
}
#sitename {
	position: relative;
	z-index: 3;
	height: 2em;
}
#top #sitename h1{
	display: none;
	font-family: 'futura';
	font-size: 60px;
	line-height: 1em;
	color: #fff;
	letter-spacing: 0.1em;
	z-index: 20;
	font-weight: 500;
	/*position: absolute;
	top: 0;*/
}

#top #sitename p{
	display: none;
	font-family: 'futura';
	font-size: 30px;
	line-height: 1em;
	color: #fff;
	letter-spacing: 0.1em;
	/*position: absolute;
	bottom: 0;*/
}
#top h2{
	font-family: 'futura';
	font-size: 36px;
	line-height: 1em;
	color: #fff;
	letter-spacing: 2px;
	margin: 0 0 60px;
}
h2{
	font-size: 36px;
	line-height: 1em;
	color: #4e1a4c;
	letter-spacing: 2px;
	/*margin: 0 0 60px;*/
	font-weight: 500;
}
h2 span{
	font-size: 14px;
	color: #9c6b97;
	margin-left: 30px;
	letter-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;　
}
header{
	background: #f6edf5;
    width: 100%;
}
#top header {
	display: none;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 999;
    background: none;
}
header #headerInner {
	overflow: hidden;
	padding: 15px 0;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#top header #headerInner {
	padding: 0;
}

header #headerInner > ul:first-of-type{
	overflow: hidden;
	float: left;
}
header #headerInner > ul:first-of-type li{
	float: left;
}
header #headerInner > ul:first-of-type h1{
	font-family: 'futura';
    font-size: 26px;
    font-weight: 500;
    color: #4e1a4c;
    margin: 10px 0 0 20px;
	letter-spacing: 0.1em;
}
header #headerInner > ul:first-of-type img{
	vertical-align: top;
}
header #headerInner > nav{
	float: right;
    margin: 10px 0 0 0;
}
nav{
	overflow: hidden;
}
nav ul li{
	float: left;
	margin: 0 25px 0 0;
}
nav ul li a{
	display: block;
	padding: 0;
	/*padding-bottom: .2em;*/
	background: -webkit-linear-gradient(left, #e0b1ca 50%, transparent 50%) 100% bottom / 210% 50% no-repeat;
	background: linear-gradient(to right, #e0b1ca 50%, transparent 50%) 100% bottom / 210% 50% no-repeat;
	-webkit-transition: background-position .5s ease-out;
	transition: background-position .5s ease-out;
}
nav ul li a:hover{
	background-position: 0% bottom;
}
nav ul li.current-menu-item a{
	color: #666 !important;
}
#top header #headerInner > nav{
	float: none;
	margin: 0;
	text-align: center;
}
#top nav {
}

#top nav ul {
	overflow: hidden;
	display: inline-block;
}
#top nav ul li {
	float: left;
	margin: 35px 25px 0 0;
}
#top nav ul li:last-child {
	float: left;
	margin: 35px 0 0 0;
}
nav ul li a{
	color: #a17f36 !important;
	font-weight: bold;
}
nav ul li a:hover{
	text-decoration: none;
}

#mainImg {
	background: url(../images/miBg.png) no-repeat 0 0;
	background-size: cover;
	height: 950px;
	position: relative;
}
#mainImg::after {
    content: "";
    position: absolute;
    z-index: 3;
    /* width: 1px; */
    /* height: 50px; */
    /* background: #333; */
    border-right: 1px solid #a17f36;
    bottom: 0;
    left: 50%;
    /* animation: sizeScale 3s, fadeOut 3s infinite 5s forwards; */
    /* transform: translateX(-50%); */
    -moz-animation-name: sizeScale;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: sizeScale;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-name: sizeScale;
    -ms-animation-duration: 3s;
    -ms-animation-timing-function: ease;
    -ms-animation-iteration-count: infinite;
}
@keyframes sizeScale {
    0% {height: 100px;}
    50% {height: 0px;}
    100% {height: 100px;}
}
#mainImgInner {
	max-width: 1300px;
	margin: 0 auto;
    padding: 0 20px;
}
#triangle1{
	position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 667px solid #691A5F;
    /* border-right: 570px solid transparent; */
    /* border-bottom: 700px solid transparent; */
    border-left: 700px solid transparent;
    z-index: 2;
}
#triangle2{
	position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 877px solid #cccccc;
    /* border-right: 570px solid transparent; */
    /* border-bottom: 700px solid transparent; */
    border-left: 700px solid transparent;
    z-index: 2;
}
#contents {
	background: #fcfcfc;
}

#contentsInner {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 700px;
	padding: 60px 20px;
}

.contBoxInner{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
footer {
	width: 100%;
	background: #333333;
}
#footerInner {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}

.key1 {color: #4e1a4c;}
.nes{
	color: #a17f36;
	margin: 0 0 0 10px;
}
.pagetop {
    position: fixed;
    bottom: 0;
    right: -100px;
    z-index: 9999;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip{
	font-family: 'futura';
}
/*フォーム共通*/
.wpcf7-form {
	width: 70%;
	margin: 0 auto;
}

input.wpcf7-form-control.wpcf7-text.p-postal-code {
	width: 20%;
	margin: 0 0 0 20px;
}
span.zip{
	font-size: 20px;
	font-weight: bold;
}
.wpcf7 h5{
	margin: 0;
}
.wpcf7 h5 + p{
	margin: 0 0 1em 0;
}
.wpcf7 .wpcf7-select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
padding: 5px 15px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: 1px solid #BFBFBF;
background: #eee;
background: url(../images/selector.jpg) right 50% no-repeat;
background: url(../images/selector.jpg) right 50% no-repeat;
background-size: 31px, 100%;
&::-ms-expand {
display: none;
}
}
.wpcf7 .wpcf7-checkbox input[type="checkbox"],
.wpcf7 .wpcf7-checkbox input[type="checkbox"][disabled]{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    visibility: hidden;
}
.wpcf7 span.wpcf7-list-item-label{
	position: relative;
	display: inline-block;
	padding: 3px 3px 3px 22px;
	cursor: pointer;
}
.wpcf7 span.wpcf7-list-item-label::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 16px;
	height: 16px;
	margin-top: -10px;
	background: #fff;
	border: 1px solid #BFBFBF;
}
.wpcf7 input[type="checkbox"]:checked + span.wpcf7-list-item-label::before,
.wpcf7 input[type="checkbox"][disabled] + span.wpcf7-list-item-label::before {
	background: $key1;
}
.wpcf7 input[type="checkbox"]:checked + span.wpcf7-list-item-label::after,
.wpcf7 input[type="checkbox"][disabled] + span.wpcf7-list-item-label::after {
	position: absolute;
	content: '';
	top: 9px;
	left: 3px;
	width: 11px;
	height: 5px;
	border-left: 2px solid #000;
	border-bottom: 2px solid #000;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.wpcf7 .agree input[type="checkbox"] {
	width: 20px;
    height: 20px;
}

.wpcf7 input[type="text"], .wpcf7 input[type="email"],
.wpcf7 input[type="tel"], .wpcf7 textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border: 1px solid #BFBFBF;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-weight: normal;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wpcf7 input[type="submit"],.wpcf7 input[type="button"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
    font-weight: normal;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 13px 50px;
    margin: 30px auto 0;
    color: #fff;
    background: #a17f36;
    box-shadow: 0 2px 0 #DCCD85;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.wpcf7 input[type="submit"][disabled]{
    background: #999;
    box-shadow: 0 2px 0 #ccc;
}
.wpcf7 input[type="submit"]::after,.wpcf7 input[type="button"]::after{
	}
.wpcf7 input[type="submit"]:hover{
	opacity: 0.7;
}
input:focus,
textarea:focus{
	outline: 0;
}
div .wpcf7 img.ajax-loader {
	width: inherit;
}
div .wpcf7 .wpcf7-response-output {
    margin: 10px 0 0;
    padding: 30px 35px 30px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div .wpcf7 .wpcf7-validation-errors {
	color: #B94A48;
	background-color: #F2DEDE;
	border: 1px solid #EED3D7;
	text-align: center;
	padding: 20px 0;
	margin: 40px 0 0;
    }

div .wpcf7 .wpcf7-mail-sent-ok {
	text-align: center;
	padding: 20px 0;
	margin: 40px 0 0;
	background: $key1;
	border:2px solid $key1 !important;
	color: #fff;
}

.wpcf7 ul.submitbtn {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	width: 100%;
    margin: 0 auto;
}
/*.wpcf7 ul.submitbtn li{
	width: calc((100% - 10px) / 2);
}
.wpcf7 ul.submitbtn li:first-child{
	margin: 0 10px 0 0;
}*/

/*post_pager*/
.post_pager {
	letter-spacing: -.4em;
	margin: 30px 0 0;
}
.post_pager li{
    display: inline-block;
    letter-spacing: normal;
}
.post_pager li span{
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	margin: 0 10px 0 0;
	border: 1px solid #a17f36;
	color: #a17f36;
	font-weight: bold;
}
.post_pager li a{
	border: 1px solid #a17f36;
	text-decoration: none;
	display: block;
	background: #a17f36;
	padding: 5px 10px;
	color: #fff;
	margin: 0 10px 0 0;
}

/*-----------------------------------------------------	*/
/*	TOP		*/
/*-----------------------------------------------------	*/
p.scroll{
    font-family: 'futura';
    letter-spacing: 0.1em;
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 99;
}
p.scroll a{
	color: #fff;
	background: #a17f36;
	padding: 10px;
}
/*	contBox0 */
#contBox0{
	background: #f6edf5;
}
#contBox0 h2{
	color: #666;
}
#contBox0 ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
/*    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    justify-content: space-around;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
}
#contBox0 ul li{
	margin: 0 5% 0 0;
}
#contBox0 ul li:last-child{
	margin: 0 ;
}
#contBox0 ul figure{
	height: 200px;
    text-align: center;
    margin: 0 0 30px;
    position: relative;
}
#contBox0 ul figure img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#contBox0 ul dt{
	text-align: center;
	font-weight: bold;
	font-size: 21px;
    margin: 0 0 20px;
}
/*	contBox1 */
#contBox1{
	background: #fcfcfc;
}
#contBox1 h2{
	color: #300D41;
}
ul.topworks{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: start;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    width: 100%;
    margin: 0 auto;
}
ul.topworks li{
	margin: 0 5% 20px 0;
	width: calc((100% - 10%) / 3);
}
ul.topworks li:nth-child(3n){
	margin: 0 0 50px;
}
#contBox1 ul.topworks{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
/*    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    justify-content: start;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
}
#contBox1 ul.topworks li{
	/*margin: 0 5% 0 0;*/
	margin: 0 5% 20px 0;
	width: calc((100% - 10%) / 3);
}
#contBox1 ul.topworks li:last-child{
	margin: 0 ;
}
.topworks figure{
	/*width: 300px;*/
	height: 300px;
	overflow: hidden;
	background: #efefef;
	position: relative;
    border: 1px solid #eee;
    background: #000000;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.topworks figure img{
    height: 100%;
    max-width: inherit;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.topworks figure figcaption{
position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border-width: 1px 1px 0;
}
.topworks figure figcaption > div{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    opacity: 0;
    width: 90%;
    z-index: 8;
}
.topworks figure figcaption .tag {
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.topworks figure figcaption h4 {
    width: 100%;
    margin: 10px 0 0;
    color: #fff;
    font-weight: normal;
}
.topworks figure figcaption .tag a{
	text-decoration: none;
	cursor: pointer;
}
.topworks figure figcaption a.link{
    color: #a17f36;
    word-break: break-word;
    display: inline-block;
    margin: 10px 0 0;
}
.topworks figure > a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
    cursor: default;
}
.topworks figure:hover img,
.topworks figure.hover img {
  opacity: 0.25;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(1.1);
	transform: translate(-50%, -50%) scale(1.1);
}
.topworks figure:hover figcaption,
.topworks figure.hover figcaption {
  top: 7%;
  bottom: 7%;
    border: 1px solid white;
}
/*.topworks figure:hover .tag,
.topworks figure:hover h4,
.topworks figure:hover a.link*/
.topworks figure:hover figcaption > div {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.topworks figure:hover .tag p{
	font-size: 12px;
	display: inline-block;
    color: #4e1a4c;
	background: #fff;
	margin: 0 5px 5px 0;
	padding: 0 5px;
}

.topworks .tag2 p{
	font-size: 12px;
	display: inline-block;
	color: #fff;
	margin: 0 5px 0 0;
}
.tag2 p a{
	display: block;
	color: #fff;
	background: #4e1a4c;
	border: 1px solid #4e1a4c;
	padding: 0 5px;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
#top .topworks .tag2 p{
	display: inline-block;
	color: #fff;
	background: #4e1a4c;
	border: 1px solid #4e1a4c;
	padding: 0 5px;
}
.tag2 p a:hover{
	color: #4e1a4c;
	background: #fff;
	border: 1px solid #4e1a4c;
	text-decoration: none;
}
.worksdet{
	margin: 10px 0 0;
}
.worksdet h4{
	margin: 10px 0 0;
}
.worksdet p{
	display: inline-block;
}
.worksdet p.new{
	color: #a17f36;
	margin: 0 0 0 20px;
}
#contBox1 p.btn{
	text-align: center;
}
#contBox1 p.btn a{
    width: 30%;
    display: inline-block;
    margin: 70px 0 0;
    padding: 10px 20px;
    border: 1px solid #4e1a4c;
    text-decoration: none;
    color: #4e1a4c;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all  0.5s ease;
}
#contBox1 p.btn a:hover{
    border: 1px solid #4e1a4c;
    color: #fff;
    background: #4e1a4c;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}
/*	contBox2 */
#contBox2{
	position: relative;
}
#contBox2 .contBoxInner{
	z-index: 99;
	position: relative;
}
#contBox2 ul{
	overflow: hidden;
}
#contBox2 li{
	padding: 50px;
	box-sizing: border-box;
}
#contBox2 li.floatL{
	background: #9B5D95;
	width: 30%;
}
#contBox2 li.floatR{
	background: #ECE8EE;
	width: 70%;
}
#contBox2:before{
	width: 50%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #ECE8EE;
}
#contBox2:after{
	width: 50%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #9B5D95;
}

#contBox2 li.floatR h3{
	font-size: 24px;
}
#contBox2 li.floatR h3 span{
	font-family: 'futura';
	font-size: 14px;
	margin-left: 40px;
}

#contBox2 li p{
	margin: 40px 0 0 0;
}
/*	contBox3 */
#contBox3{
	background: #4E1A4C;
}
#contBox3 .contBoxInner{
	padding: 20px;
	box-sizing: border-box;
}

#contBox3 dl{
margin: 0 0 20px 0;
overflow: hidden;
}
#contBox3 dt{
	color: #fff;
	font-size: 16px;
	float: left;
	width: 30%;
}
#contBox3 dd{
	color: #fff;
	font-size: 16px;
	float: left;
	width: 70%;
}
#contBox3 dl.accept dt,
#contBox3 dl.accept dd{
	display: inline-block;
}

/*-----------------------------------------------------	*/
/*	下層		*/
/*-----------------------------------------------------	*/
#contents .ttl{
	margin: 0 0 60px;
	overflow: hidden;
}

#contents .ttl h2{
	float: left;
	margin: 0 60px 0 0;
}
#contents .ttl p{
    float: left;
    font-size: 18px;
    padding: 0 30px;
    position: relative;
    margin: 10px 0 0;
    color: #a17f36;
}
#contents .ttl p::before {
    position: absolute;
    content: "";
    border-top: 1px solid;
    width: 20px;
    height: 1px;
    color: #a17f36;
    top: 50%;
    left: 0;
}
#contents .ttl p::after {
    position: absolute;
    content: "";
    border-top: 1px solid;
    width: 20px;
    height: 1px;
    color: #a17f36;
    top: 50%;
    right: 0;
}
/*	for 979px～768px			*/
/*-----------------------------------------------------	*/




/*-----------------------------------------------------	*/
/*	for 979px～768px			*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 979px) {
ul.topworks li{
	margin: 0 10% 40px 0;
	width: calc((100% - 10%) / 2);
}
ul.topworks li:nth-child(3n) {
	margin: 0 10% 40px 0;
}
ul.topworks li:nth-child(2n) {
    margin: 0 0 40px 0;
}
#contBox1 ul.topworks li{
	/*margin: 0 5% 0 0;*/
	margin: 0 5% 40px 0;
	width: calc((100% - 10%) / 2);
}
}
/*-----------------------------------------------------	*/
/*	for 767px				*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 768px) {
h2{
	font-size: 28px;
}
#contents .ttl h2 {
    display: block;
    width: 100%;
    float: none;
    margin: 0;
}
#contents .ttl p {
	display: inline-block;
    float: none;
    font-size: 14px;
    margin: 20px 0 0;
}
header {
	position: fixed;
	z-index: 9;
}
header #headerInner {
    overflow: hidden;
    padding: 14px 5%;
    height: 60px;
}
#top header {
    position: fixed;
    width: 100%;
    top: inherit;
    left: inherit;
    -webkit-transform: inherit;
    transform: inherit;
    z-index: 999;
    text-align: right;
}
header #headerInner > ul:first-of-type h1 {
    font-size: 20px;
    font-weight: normal;
    color: #4e1a4c;
    margin: 5px 0 0 20px;
    letter-spacing: normal;
}
header #headerInner > ul:first-of-type img {
    width: 40px;
}
nav,
header #headerInner > nav{
	display: none;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 8;
    margin: 0;
}
nav ul {
    margin: 70px 0 0;
}
nav ul li,
#top nav ul li,
#top nav ul li:last-child {
    float: none;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

nav ul li a{
    display: block;
    color: #a17f36 !important;
    padding: 10px;
    text-align: center;
    background: none;
    transition: inherit;
}
nav ul li a:hover{
    text-decoration: none;
    background-position:none;
}

nav ul li.current-menu-item a{
	color: #a17f36 !important;
}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
#top .menu-trigger {
  /*position: relative;*/
	display: none;
    position: absolute;
    top: 10px;
    right: 5%;
	width: 35px;
	height: 32px;
	z-index: 9;
}
.menu-trigger {
  /*position: relative;*/
	display: block;
    position: absolute;
    top: 10px;
    /*right: 10px;*/
    right: 5%;
	width: 35px;
	height: 32px;
	z-index: 9;
    margin: 5px 0 0 5px;
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #666;
	border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 14px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}
.menu-trigger.active span{
	background-color: #fff;
}
.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform: translateY(14px) rotate(-45deg);
	transform: translateY(14px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	left: 50%;
	opacity: 0;
	-webkit-animation: active-menu-bar02 .8s forwards;
	animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-14px) rotate(45deg);
  transform: translateY(-14px) rotate(45deg);
}

#contents {
    padding: 62px 0 0;
}
#top #contents {
    padding: 0;
}
.contBoxInner {
    margin: 0 auto;
    padding: 40px 5%;
}
#contentsInner {
	padding: 50px 5%;
}
.floatL,
.floatR{
	float: none;
}
.gotop img {
    width: 45px;
}
.post_pager {
    margin: 50px 0 0;
}
/*-----------------------------------------------------	*/
/*	TOP			*/
/*-----------------------------------------------------	*/
#sitename {
   height: 150px;
    z-index: 9;
}
#top #sitename h1 {
    font-size: 40px;
    line-height: 1.2em;
}
#top #sitename p {
	display: none;
    font-size: 20px;
    line-height: 1.2em;
    margin: 10px 0 0 0;
    letter-spacing: 0.1em;
}
#mainImg {
    overflow: hidden;
}
#triangle1 {
    border-top: 567px solid #691A5F;
    /* border-right: 570px solid transparent; */
    /* border-bottom: 700px solid transparent; */
    border-left: 320px solid transparent;
}
#triangle2 {
    border-bottom: 567px solid #cccccc;
    /* border-right: 570px solid transparent; */
    /* border-bottom: 700px solid transparent; */
    border-left: 320px solid transparent;
}

#contBox0 ul {
    display: inherit;
    justify-content: inherit;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
}
#contBox0 ul li {
    margin: 0 0 30px 0;
}
#contBox0 ul figure {
    height: inherit;
    text-align: center;
    margin: 0 0 30px;
    position: inherit;
}
#contBox0 ul figure img {
    position: inherit;
    top: inherit;
    left: inherit;
    -webkit-transform: inherit;
    transform: inherit;
}
#contBox1 ul.topworks li {
    margin: 0 5% 0 0;
}
ul.topworks {
    display: inherit;
    justify-content: inherit;
    -webkit-box-pack: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
}
ul.topworks li,
#contBox1 ul.topworks li {
    margin: 0 0 40px 0;
    width: 100%;
}
ul.topworks li:last-child,
#contBox1 ul.topworks li:last-child {
    margin: 0;
}
.topworks figure {
    margin: 0 auto;
    width: inherit;
}
#contBox1 p.btn a{
	width: 100%;
}
#contBox2 {
    background: #9B5D95;
}
#contBox2:before {
    width: 50%;
    height: 100%;
    content: none;
    position: inherit;
    top: 0;
    right: 0;
    background: #ECE8EE;
}
#contBox2:after {
    width: 50%;
    height: 100%;
    content: none;
    position: inherit;
    top: 0;
    left: 0;
    background: #9B5D95;
}
#contBox2 .contBoxInner {
    /*padding: 0 5% 20px;*/
    box-sizing: border-box;
    z-index: 99;
    position: relative;
}
#contBox2 li{}
#contBox2 li.floatL {
    background: #9B5D95;
    width: 100%;
    padding: 5%;
}
#contBox2 li.floatL figure{
    text-align: center;
}
#contBox2 li.floatR {
    width: 100%;
    padding: 5%;
}
#contBox3 .contBoxInner {
    box-sizing: border-box;
}
.wpcf7-form {
    width: 100%;
    margin: 0 auto;
}

#contBox3 dt,
#contBox3 dd{
	float: none;
	width: 100%;
}
#contBox3 dl.accept dt,
#contBox3 dl.accept dd{
	width: auto;
	display: inline-block;
}


}